# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development

# SDK API Configuration
SDK__ApiKey=
SDK__ServiceName=

# Redis (optional)
# REDIS__ConnectionString=

# MySQL (optional)
# MYSQL__ConnectionString=

# AWS (optional)
# AWS__AccessKey=
# AWS__SecretKey=
# AWS__Region=us-west-2
