<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="foundation.aws.mysql.connectionstring.todo_db" connectionString="**"/>
  </connectionStrings>
  <appSettings>
    <add key="UserName" value="User" />
    <add key="Password" value="**" />
  </appSettings>
</configuration>
